<template>
  <div>
    <vue-particles
      color="#012e5d"
      :particleOpacity="0.9"
      :particlesNumber="80"
      shapeType="circle"
      :particleSize="4"
      linesColor="#012e5d"
      :linesWidth="2"
      :lineLinked="true"
      :lineOpacity="0.5"
      :linesDistance="150"
      :moveSpeed="7.5"
      :hoverEffect="false"
      hoverMode="grab"
      :clickEffect="true"
      clickMode="push"
      class="relative z-0 h-screen"
    >
    </vue-particles>
    <div
      class="
        w-screen
        h-16
        absolute
        z-10
        flex
        justify-center
        items-center
        bg-none
        bottom-0
      "
    >
      <dynamic-marquee>
        <div class="bg-indigo-900 py-4 px-8 border-2-black rounded text-white">
          <h1>Hello</h1>
        </div>
      </dynamic-marquee>
    </div>
  </div>
</template>

<script>
import DynamicMarquee from '../components/dynamicMarquee'

export default {
  components: {
    DynamicMarquee,
  },
}
</script>
